/* <<< Variables >>> */

:root {
    --card-width: 150px;
    --card-height: 100px;
    --card-horizontal-space: 100px;
    --card-gap-size: 10px;
    --card-zoom-factor: 1.2;

    --color-primary: #d58050;
    --color-secondary: #e06733;
    --color-tertiary: #833016;
    --color-highlight: #f5bead;
    --color-contrast: #411e11;
    --color-red: #ec4d4d;
    --color-green: #7aff85;
    --color-blue: #6f77fa;
    --color-active: #f7ff6b;
}

/* <<< Screen >>> */

body {
    background: var(--color-tertiary);
}

/* <<< Standard for headings >>> */

h1 {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-contrast);
}
h2, h3 {
    text-align: center;
    color: var(--color-contrast);
}

/* <<< Standard for inputs >>> */

input {
    background: var(--color-primary);
    color: var(--color-contrast);
    border: 2px solid var(--color-contrast);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;

    &::placeholder {
        color: var(--color-contrast);
        font-style: italic;
    }

    &[type="number"]::-webkit-inner-spin-button {
        cursor: pointer;
    }
}

button {
    background: var(--color-secondary);
    color: var(--color-contrast);
    border: 3px outset var(--color-contrast);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    transition: all 100ms linear;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0;
    
    @media (hover: hover) {
        &:hover {
            background: var(--color-highlight);
        }
    }

    &:active, &:disabled {
        color: var(--color-highlight);
        background: var(--color-tertiary);
        border: 3px inset var(--color-contrast);
        transition: none;
    }
}

/* <<< Name Screen >>> */

.name-container {
    position: relative;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#name-input {
    position: relative;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

#name-button {
    position: relative;
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}

/* <<< Home Screen >>> */

.join-room-container {
    position: absolute;
    right: 55%;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#join-room-input {
    position: relative;
    margin-left: 1rem;
    border-radius: 1rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
}

#join-room-button {
    position: relative;
    margin-left: 1rem;
    width: 7rem;
    height: 3rem;
}

.create-room-container {
    position: absolute;
    left: 55%;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#create-room-button {
    position: relative;
    margin-left: 1rem;
    width: 9rem;
    height: 3rem;
}

/* <<< Lobby Screen >>> */

.red-players-container, .blue-players-container {
    position: absolute;
    padding: 1rem 0;
    width: 15rem;
    height: 9rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--color-primary);
    border-radius: 1rem;
    border: 4px solid var(--color-contrast);
}
.red-players-container {
    right: 55%;
}
.blue-players-container {
    left: 55%;
}

#red-players-heading, #blue-players-heading {
    position: absolute;
    width: 100%;
    font-size: 1.3rem;
    margin: 0;
}
#red-players-heading {
    color: var(--color-red);
}
#blue-players-heading {
    color: var(--color-blue);
}

#red-players-list, #blue-players-list {
    position: relative;
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .you {
        color: var(--color-active);
    }
}

#red-players-button, #blue-players-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 1rem;
    width: 4rem;
    height: 3rem;
}

.lobby-buttons-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 2.2rem;

    &:not(:has(#play-button)) {
        padding: 4rem;
    }

    #leave-button {
        position: relative;
        width: 5rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    #play-button {
        position: relative;
        width: 4rem;
        height: 3rem;
    }
}

.back-button-container {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 5rem;
    height: 3rem;
}

#home-button {
    width: 100%;
    height: 100%;
}

/* <<< Game Screen >>> */

.main {
    &.playing-board {
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        border: 1px solid black;
        position: relative;
        margin-top: 8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 5px solid var(--color-contrast);
        background: var(--color-primary);
    }
}

.card-container {
    position: relative;
    width: calc( var(--card-width) * 16 / 15 * 5 );
    height: calc( min( 61vw, var(--card-height) * 16 / 15 * 5 ) );
    font-size: calc( min( 1.8vw, var(--card-height) / 6 ) );
    display: grid;
    margin: 1rem;
    padding: 0.5rem;
    gap: calc(10% / 15);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "a1 b1 c1 d1 e1"
        "a2 b2 c2 d2 e2"
        "a3 b3 c3 d3 e3"
        "a4 b4 c4 d4 e4"
        "a5 b5 c5 d5 e5";
    border-radius: 1rem;
    background: var(--color-tertiary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-pos-a1 { grid-area: a1; }
.card-pos-b1 { grid-area: b1; }
.card-pos-c1 { grid-area: c1; }
.card-pos-d1 { grid-area: d1; }
.card-pos-e1 { grid-area: e1; }

.card-pos-a2 { grid-area: a2; }
.card-pos-b2 { grid-area: b2; }
.card-pos-c2 { grid-area: c2; }
.card-pos-d2 { grid-area: d2; }
.card-pos-e2 { grid-area: e2; }

.card-pos-a3 { grid-area: a3; }
.card-pos-b3 { grid-area: b3; }
.card-pos-c3 { grid-area: c3; }
.card-pos-d3 { grid-area: d3; }
.card-pos-e3 { grid-area: e3; }

.card-pos-a4 { grid-area: a4; }
.card-pos-b4 { grid-area: b4; }
.card-pos-c4 { grid-area: c4; }
.card-pos-d4 { grid-area: d4; }
.card-pos-e4 { grid-area: e4; }

.card-pos-a5 { grid-area: a5; }
.card-pos-b5 { grid-area: b5; }
.card-pos-c5 { grid-area: c5; }
.card-pos-d5 { grid-area: d5; }
.card-pos-e5 { grid-area: e5; }

.card-pos-a1, .card-pos-b1, .card-pos-c1, .card-pos-d1, .card-pos-e1, .card-pos-a2, .card-pos-b2, .card-pos-c2, .card-pos-d2, .card-pos-e2, .card-pos-a3, .card-pos-b3, .card-pos-c3, .card-pos-d3, .card-pos-e3, .card-pos-a4, .card-pos-b4, .card-pos-c4, .card-pos-d4, .card-pos-e4, .card-pos-a5, .card-pos-b5, .card-pos-c5, .card-pos-d5, .card-pos-e5 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

    &.invalid {
        transition: margin 400ms cubic-bezier(0, 4, 0.1, 5);
        border: 5px solid var(--color-red);
        border-radius: 0.6rem;
        margin: -0.2rem;
    }
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(-10px);
    perspective: 1000px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    
    @media (hover: hover) {
        :not(&.covered) {
            &.clickable:hover  {
                width: calc(var(--card-width) * var(--card-zoom-factor));
                height: calc(var(--card-height) * var(--card-zoom-factor));
                font-size: calc(var(--card-zoom-factor) * 1rem);
            }
        }
    }
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-inner.flipped {
    transform: rotateX(-180deg);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back, .card-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-back {
    transform: rotateX(-180deg);
}

.card-cover {
    &.new {
        transform: scale(150%, 150%);
        transition: none;
    }
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-text {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 1rem;
    margin: 0;
    &.assassin {
        color: #fff;
    }
}

.flip-button-container {
    position: absolute;
    right: 12rem;
    top: -4rem;
    width: 5rem;
    height: 3rem;
}

#flip-button {
    position: relative;
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
}

.topleft-nametag-container, .bottomleft-nametag-container, .topright-nametag-container, .bottomright-nametag-container {
    position: absolute;
    width: calc(min(40vw, 12rem));
    height: calc(min(10vw, 3rem));
    border-radius: 0.5rem;
    background: var(--color-primary);
    border-width: 3px;
    border-style: outset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(min(3.67vw, 1.1rem));
    color: var(--color-contrast);
    transition: color 300ms ease-in-out;
    
    &.red {
        border-color: var(--color-red);
    }
    &.green {
        border-color: var(--color-green);
    }
    &.blue {
        border-color: var(--color-blue);
    }
    &.active {
        color: var(--color-active);
        text-shadow: 0 0 0.8rem var(--color-active), 0 0 0.5rem var(--color-active);
    }
}

.topleft-nametag-container {
    left: 0;
    top: calc(max(-13.3vw, -4rem));
}

.bottomleft-nametag-container {
    left: 0;
    bottom: calc(max(-13.3vw, -4rem));
}

.topright-nametag-container {
    right: 0;
    top: calc(max(-13.3vw, -4rem));
}

.bottomright-nametag-container {
    right: 0;
    bottom: calc(max(-13.3vw, -4rem));
}

.topleft-nametag-label, .bottomleft-nametag-label, .topright-nametag-label, .bottomright-nametag-label {
    position: relative;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: inherit;

    &.disconnected {
        font-style: italic;
        letter-spacing: -2px;
        opacity: 0.8;
    }
}

.turn-indicator-container {
    position: absolute;
    left: 50%;
    top: calc(max(-25vw / 1.5 - 2.5rem, -7.5rem));
    width: 15rem;
    height: 3rem;
    text-align: center;
    transform: translateX(-50%);
}

.turn-indicator {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    padding: calc(min(2.333vw, 0.7rem)) calc(min(3.333vw, 1rem));
    transform: translate(-50%, -50%);
    margin: 0;
    background: var(--color-primary);
    border: 2px solid var(--color-contrast);
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(min(3.67vw, 1.1rem));
}

.red-score-container, .blue-score-container {
    position: fixed;
    width: var(--card-width);
    height: var(--card-height);
    top: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

    &.hidden .red-score-heading, &.hidden .blue-score-heading {
        visibility: hidden;
    }
}

.red-score-container {
    left: 0.5rem;

    &.hidden {
        left: -8rem;
    }
}

.blue-score-container {
    right: 0.5rem;

    &.hidden {
        right: -8rem;
    }
}

.red-score-image, .blue-score-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.red-score-heading, .blue-score-heading {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 0;
    top: 0;
    margin: 0;
    color: white;
}

.pass-button-container {
    position: absolute;
    width: 5rem;
    height: 3rem;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.turn-reminder-container {
    position: fixed;
    width: 100%;
    height: 30%;
    top: 35%;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 5%, rgba(0,0,0,0.3) 95%, rgba(0,0,0,0) 100%);

    &.animated {
        .turn-reminder {
            left: calc(100% + 20rem);
        }
    }
}

.turn-reminder {
    position: absolute;
    top: 50%;
    left: -20rem;
    width: max-content;
    margin: 0;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    text-shadow: 0 0 1rem var(--color-highlight), 0 0 1rem var(--color-primary), 0 0 1rem var(--color-primary), 0 0 2rem var(--color-primary);
    transition: all 2000ms cubic-bezier(0, 1, 0.8, 0);
}

#pass-button {
    position: relative;
    width: 100%;
    height: 100%;
}

.game-log-container {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    width: calc(min(50vw, 15rem));
    height: 75%;

    &.hidden {
        height: calc(min(8.333vw, 2.5rem));

        .game-log-elements {
            opacity: 50%;
            
            @media (hover: hover) {
                &:hover {
                    opacity: 100%;
                }
            }
        
            .game-log {
                visibility: hidden;
            }
        }

        .log-alert {
            position: absolute;
            width: 3rem;
            right: 0;
            top: 0;
            transform: translate(25%, -50%);
        }
    }
}

.game-log-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(min(5.333rem, 1.6rem));
    border: 2px solid var(--color-contrast);
    background: var(--color-secondary);
    transition: opacity 200ms ease-in-out;
}

.game-log-heading {
    position: sticky;
    text-align: left;
    top: 0;
    margin: calc(min(1.667em, 0.5em)) 0 0 calc(min(3.333em, 1em));
    font-size: calc(min(4vw, 1.2rem));
    cursor: pointer;
}

.game-log {
    position: relative;
    margin-top: 0.5rem;
    padding: 0 0 6rem 0;
    border-top: 2px solid var(--color-contrast);
    border-bottom: 2px solid var(--color-contrast);
    width: 100%;
    height: calc(100% - 10rem);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-bottom: 6rem;
    list-style-type: none;
    background: var(--color-tertiary);
    
    &::-webkit-scrollbar {
        background: var(--color-contrast);
    }
    @media (hover: hover) {
        &::-webkit-scrollbar-thumb:hover {
            background: var(--color-primary);
        }
    }
    &::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
    }
    
    :not(&:hover) {
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
            width: 0;
        }
    }
}

.log-message {
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    &.red {
        color: var(--color-red);
    }
    &.green {
        color: var(--color-green);
    }
    &.blue {
        color: var(--color-blue);
    }
}

.give-clue-container {
    position: absolute;
    width: 50%;
    height: 3rem;
    left: 50%;
    bottom: -7.5rem;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}

.clue-input, .clue-amount-input, .give-clue-button {
    position: relative;
    border-radius: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clue-input {
    margin-right: 1rem;
    height: 90%;
    width: 15rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.clue-amount-input {
    margin-right: 1rem;
    height: 90%;
    width: 3rem;
    padding-left: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.give-clue-button {
    height: 100%;
    width: 7rem;
}

.game-over-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    width: 20rem;
    height: 25rem;
    padding-top: 0.5rem;
    border: 5px solid var(--color-contrast);
    border-radius: 2rem;
    background: var(--color-primary);

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;

    .game-over-heading {
        position: relative;
        font-size: 2rem;
    }

    .game-over-summary {
        position: relative;
    }
    
    .game-over-new-game-container {
        position: relative;
        margin-top: 3rem;
        margin-bottom: 1rem;

        #game-over-new-game-button {
            position: relative;
            width: 8rem;
            height: 3rem;
        }
    }
    
    .game-over-change-teams-container {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;

        #game-over-change-teams-button {
            position: relative;
            width: 10rem;
            height: 3rem;
        }
    }
    
    .game-over-home-container {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;

        #game-over-home-button {
            position: relative;
            width: 5rem;
            height: 3rem;
        }
    }
    
}