/* <<< Variables >>> */

:root {
    --card-width: 150px;
    --card-height: 100px;
    --card-horizontal-space: 100px;
    --card-gap-size: 10px;
    --card-zoom-factor: 1.2;

    --color-primary: #d58050;
    --color-secondary: #e06733;
    --color-tertiary: #833016;
    --color-highlight: #f5bead;
    --color-contrast: #411e11;
    --color-red: #ec4d4d;
    --color-green: #7aff85;
    --color-blue: #6f77fa;
}

/* <<< Screen >>> */

body {
    background: var(--color-tertiary);
}

/* <<< Standard for headings >>> */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 20%;
    margin: 1rem 40%;
    color: var(--color-contrast);
}
h2, h3 {
    text-align: center;
    color: var(--color-contrast);
}

/* <<< Standard for inputs >>> */

input {
    background: var(--color-primary);
    color: var(--color-contrast);
    border: 2px solid var(--color-contrast);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;

    &::placeholder {
        color: var(--color-contrast);
        font-style: italic;
    }

    &[type="number"]::-webkit-inner-spin-button {
        cursor: pointer;
    }
}

button {
    background: var(--color-secondary);
    color: var(--color-contrast);
    border: 3px outset var(--color-contrast);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    transition: all 100ms linear;
    cursor: pointer;
    border-radius: 1rem;
    
    &:hover {
        background: var(--color-highlight);
    }

    &:active, &:disabled {
        color: var(--color-highlight);
        background: var(--color-tertiary);
        border: 3px inset var(--color-contrast);
        transition: none;
    }
}

/* <<< Name Screen >>> */

.name-container {
    position: relative;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#name-input {
    position: relative;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

#name-button {
    position: relative;
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}

/* <<< Home Screen >>> */

.join-room-container {
    position: absolute;
    right: 55%;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#join-room-input {
    position: relative;
    margin-left: 1rem;
    border-radius: 1rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
}

#join-room-button {
    position: relative;
    margin-left: 1rem;
    width: 7rem;
    height: 3rem;
}

.create-room-container {
    position: absolute;
    left: 55%;
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#create-room-button {
    position: relative;
    margin-left: 1rem;
    width: 9rem;
    height: 3rem;
}

/* <<< Lobby Screen >>> */

.red-players-container, .blue-players-container {
    position: absolute;
    padding: 1rem 0;
    width: 15rem;
    height: 9rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--color-primary);
    border-radius: 1rem;
    border: 4px solid var(--color-contrast);
}
.red-players-container {
    right: 55%;
}
.blue-players-container {
    left: 55%;
}

#red-players-heading, #blue-players-heading {
    position: absolute;
    width: 100%;
    font-size: 1.3rem;
    margin: 0;
}
#red-players-heading {
    color: var(--color-red);
}
#blue-players-heading {
    color: var(--color-blue);
}

#red-players-list, #blue-players-list {
    position: relative;
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#red-players-button, #blue-players-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 1rem;
    width: 4rem;
    height: 3rem;
}

.play-button-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
#play-button {
    position: relative;
    width: 4rem;
    height: 3rem;
}

/* <<< Game Screen >>> */

.main {
    &.playing-board {
        height: calc((var(--card-height) + var(--card-gap-size)) * 5 + 2rem);
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        border: 1px solid black;
        position: relative;
        margin-top: 5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 5px solid var(--color-contrast);
        background: var(--color-primary);
    }
}

.card-container {
    position: relative;
    width: calc((var(--card-width) + var(--card-gap-size)) * 5);
    height: calc(100% - 3rem);
    display: grid;
    margin: 1rem;
    padding: 0.5rem;
    gap: var(--card-gap-size);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "a1 b1 c1 d1 e1"
        "a2 b2 c2 d2 e2"
        "a3 b3 c3 d3 e3"
        "a4 b4 c4 d4 e4"
        "a5 b5 c5 d5 e5";
    border-radius: 1rem;
    background: var(--color-tertiary);
}

.card-pos-a1 { grid-area: a1; }
.card-pos-b1 { grid-area: b1; }
.card-pos-c1 { grid-area: c1; }
.card-pos-d1 { grid-area: d1; }
.card-pos-e1 { grid-area: e1; }

.card-pos-a2 { grid-area: a2; }
.card-pos-b2 { grid-area: b2; }
.card-pos-c2 { grid-area: c2; }
.card-pos-d2 { grid-area: d2; }
.card-pos-e2 { grid-area: e2; }

.card-pos-a3 { grid-area: a3; }
.card-pos-b3 { grid-area: b3; }
.card-pos-c3 { grid-area: c3; }
.card-pos-d3 { grid-area: d3; }
.card-pos-e3 { grid-area: e3; }

.card-pos-a4 { grid-area: a4; }
.card-pos-b4 { grid-area: b4; }
.card-pos-c4 { grid-area: c4; }
.card-pos-d4 { grid-area: d4; }
.card-pos-e4 { grid-area: e4; }

.card-pos-a5 { grid-area: a5; }
.card-pos-b5 { grid-area: b5; }
.card-pos-c5 { grid-area: c5; }
.card-pos-d5 { grid-area: d5; }
.card-pos-e5 { grid-area: e5; }

.card-pos-a1, .card-pos-b1, .card-pos-c1, .card-pos-d1, .card-pos-e1, .card-pos-a2, .card-pos-b2, .card-pos-c2, .card-pos-d2, .card-pos-e2, .card-pos-a3, .card-pos-b3, .card-pos-c3, .card-pos-d3, .card-pos-e3, .card-pos-a4, .card-pos-b4, .card-pos-c4, .card-pos-d4, .card-pos-e4, .card-pos-a5, .card-pos-b5, .card-pos-c5, .card-pos-d5, .card-pos-e5 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

    &.invalid {
        transition: margin 400ms cubic-bezier(0, 4, 0.1, 5);
        border: 5px solid var(--color-red);
        border-radius: 0.6rem;
        margin: -0.2rem;
    }
}

.card {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(-10px);
    perspective: 1000px;
    cursor: pointer;
}

.card.clickable:hover  {
    width: calc(var(--card-width) * var(--card-zoom-factor));
    height: calc(var(--card-height) * var(--card-zoom-factor));
    font-size: calc(var(--card-zoom-factor) * 1em);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-inner.flipped {
    transform: rotateX(-180deg);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back, .card-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-back {
    transform: rotateX(-180deg);
}

.card-cover {
    &.new {
        transform: scale(150%, 150%);
        transition: none;
    }
}

.card-img {
    height: 100%;
}

.card-text {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100%;
    &.assassin {
        color: #fff;
    }
}

.flip-button-container {
    position: absolute;
    right: 12rem;
    top: -4rem;
    width: 5rem;
    height: 3rem;
}

#flip-button {
    position: relative;
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
}

.topleft-nametag-container, .bottomleft-nametag-container, .topright-nametag-container, .bottomright-nametag-container {
    position: absolute;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background: var(--color-primary);
    border-width: 3px;
    border-style: outset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    
    &.red {
        border-color: var(--color-red);
    }
    &.green {
        border-color: var(--color-green);
    }
    &.blue {
        border-color: var(--color-blue);
    }
}

.topleft-nametag-container {
    left: 0;
    top: -4rem;
}

.bottomleft-nametag-container {
    left: 0;
    bottom: -4rem;
}

.topright-nametag-container {
    right: 0;
    top: -4rem;
}

.bottomright-nametag-container {
    right: 0;
    bottom: -4rem;
}

.topleft-nametag-label, .bottomleft-nametag-label, .topright-nametag-label, .bottomright-nametag-label {
    position: relative;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.turn-indicator-container {
    position: absolute;
    left: 50%;
    top: -4rem;
    width: 15rem;
    height: 3rem;
    text-align: center;
    transform: translateX(-50%);
}

.turn-indicator {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    padding: 0.7rem 1rem;
    transform: translate(-50%, -50%);
    margin: 0;
    background: var(--color-primary);
    border: 2px solid var(--color-contrast);
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.red-score-container, .blue-score-container {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    bottom: calc(100% + 1rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.red-score-container {
    left: 25%;
    transform: translateX(-50%);
}

.blue-score-container {
    right: 25%;
    transform: translateX(50%);
}

.red-score-image, .blue-score-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.red-score-heading, .blue-score-heading {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 0;
    top: 0;
    margin: 0;
    color: white;
}

.pass-button-container {
    position: absolute;
    width: 8rem;
    height: 4rem;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

#pass-button {
    position: relative;
    width: 100%;
    height: 100%;
}

.game-log-container {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    width: 15rem;
    height: 75%;
    padding: 0;
    border-radius: 1.6rem;
    border: 2px solid var(--color-contrast);
    background: var(--color-secondary);
}

.game-log-heading {
    position: sticky;
    text-align: left;
    top: 0;
    margin: 0.5rem 0 0 1rem;
}

.game-log {
    position: relative;
    margin-top: 0.5rem;
    padding: 0 0 100% 0;
    border-top: 2px solid var(--color-contrast);
    border-bottom: 2px solid var(--color-contrast);
    width: 100%;
    height: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-bottom: 6rem;
    list-style-type: none;
    background: var(--color-tertiary);
    
    &::-webkit-scrollbar {
        background: var(--color-contrast);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
    }
    
    :not(&:hover) {
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
            width: 0;
        }
    }
}

.log-message {
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    &.red {
        color: var(--color-red);
    }
    &.green {
        color: var(--color-green);
    }
    &.blue {
        color: var(--color-blue);
    }
}

.give-clue-container {
    position: absolute;
    width: 50%;
    height: 3rem;
    left: 50%;
    bottom: -4rem;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}

.clue-input, .clue-amount-input, .give-clue-button {
    position: relative;
    border-radius: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clue-input {
    margin-right: 1rem;
    height: 90%;
    width: 15rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.clue-amount-input {
    margin-right: 1rem;
    height: 90%;
    width: 3rem;
    padding-left: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.give-clue-button {
    height: 100%;
    width: 7rem;
}